body {
	background:white;
	font-size: 1.1em;
	font-family: sans-serif;

}
a {
	text-decoration: none;
}
form {
	width: 75%;
	margin: 70px auto;
	background: white;
	padding: 10px;
	border: 1px solid #006699;
    border-color: #006699;
    border-width:10px ;
}
h2.form-title {
	text-align: center;
}
input[type=text]{
    text-align: center;
    text-transform: uppercase;
}
input[type=password]{
    text-align: center;

}
input {
	display: block;
	box-sizing: border-box;
	width: 40%;
	padding: 8px;
}
form .form-group {
	margin: 10px auto;
}
form button {
	width: 100%;
	border: none;
	color: white;
	background: #ae3c33;
	padding: 15px;
	border-radius: 3px;
    
}
.msg {
	margin: 5px auto;
	border-radius: 5px;
	border: #ae3c33;
	background: #ae3c33;
	text-align: left;
	color: #ae3c33;
	padding: 10px;
}
img {
    position:absolute;
    left:200px;
    top:85px;
    
}